        <div>

            <h1>Contacts and useful links</h1>
            <p>You can contact me in any way that is convenient for you:</p>
            <ol>
                <li>Telegram: <a href="https://t.me/lina_torovoltas" class="lina">@lina_torovoltas</a></li>
                <li>Discord: <span class="lina">@lina_torovoltas</span></li>
                <li>Github: <a href="https://github.com/lina-torovoltas" class="lina">Lina Torovoltas</a></li>
                <li>PyPI:  <a href="https://pypi.org/user/lina_torovoltas" class="lina">Lina Torovoltas</a></li>
                <li>Gmail mail: <a href="mailto:linatorovoltas@gmail.com" class="lina">linatorovoltas@gmail.com</a></li>
            </ol>
            <p>You can also contribute through <a href="/donations" class="highlight">donations</a> if you wish to support me.</p>
        </div>