        <div>
            <h1>Contacts and useful links</h1>

            <p>Pick whatever's easiest for you to reach me, 
                <br />plus a few links if you want to dig deeper or support what I do.</p>
        </div>

        <div>
            <h3>Contacts</h3>

            <ol>
                <li>Matrix: <a href="https://matrix.to/#/@lina_torovoltas:4d2.org" class="lina">@lina_torovoltas:4d2.org</a></li>
                <li>Discord: <span class="lina">@lina_torovoltas</span></li>
                <li>Gmail: <a href="mailto:linatorovoltas@gmail.com" class="lina">linatorovoltas@gmail.com</a></li>
                <li>I2P mail: <a href="mailto:linatorovoltas@mail.i2p" class="lina">linatorovoltas@mail.i2p</a></li>
            </ol>

                <p>Matrix is usually the fastest way to reach me.</p>
        </div>

        <div>
            <h3>Useful links</h3>

            <ol>
            <li>Github: <a href="https://github.com/lina-torovoltas" class="lina">Lina Torovoltas</a></li>
            <li>PyPI: <a href="https://pypi.org/user/lina_torovoltas/" class="lina">Lina Torovoltas</a></li>
            </ol>

            <p>You can also contribute through <a href="/donations" class="highlight">donations</a> if you want to support me.</p>
        </div>
