        <div>
            <h1>Donation</h1>

            <p>I develop projects on my own, but I need additional funding
                for their development, and to help me, you can donate cryptocurrency <br />to one of these addresses.</p>
        </div>


        <div>
            <h3>Monero(XMR):</h2>
            <p class="centered-paragraph">
                <img class="svg" src="/static/xmr.svg"/>
            </p>
            <p class="under_text">45nGsyRzwPM79XGTWrdNpj4KLTXSCm7EaHhGMZ5w4S1VYceCwMepwCGce323Qid9WyWvjHEche3xegf2z67SaXTSL5yN1mq</p>
        </div>

        <div>
            <h3>Bitcoin(BTC):</h2>
            <p class="centered-paragraph">
                <img class="svg" src="/static/btc.svg"/>
            </p>
            <p class="under_text">bc1qpfwu98ay9mergfkcelwhw7xu6sdkhk3klnnvms</p>
        </div>