        <div>
            <h1>Projects</h1>

            <p>Here you will find information about my projects along <br />
                with a brief description and links for more detailed exploration.</p>
        </div>

        <div>
            <h3>This website</h3>

            <p>Basically, there's not much to say about this website, <br />
                and you can explore it yourself to see everything I've done :3</p>
            <p><a href="https://github.com/lina-torovoltas/lina-torovoltas.github.io" class="highlight">Link</a> to the repository with the source code.</p>
        </div>

        <div>
            <h3>Macro library for FASM</h3>

            <p>FasmMacroLib is designed to simplify FASM programming on Linux.<br />
                It supports x86, x86_64, ARM, and ARM64 architectures.</p>
            <p><a href="https://github.com/lina-torovoltas/FasmMacroLib" class="highlight">Link</a> to the repository with documentation and source code.</p>
        </div>

        <div>
            <h3>KGB Bot for Telegram</h3>
            
            <p>This is <a href="https://github.com/Foxity-Team/KGB_Bot-discord" class="highlight">KGB Bot</a>, but only for Telegram! <br />
                For now, it has limited functionality,<br />
                just a profanity filter and a basic pseudo-AI<br />
                I’ll probably revamp it soon.</p>
            <p><a href="https://github.com/lina-torovoltas/KGB_Bot-telegram" class="highlight">Link</a> to the repository with documentation and source code.</p>
        </div>

        <div>
            <h3>Random dump generator</h3>

            <p>It generates random dumps in hexadecimal and octal formats,<br />
                and honestly, there's not much more to say about it.</p>
            <p><a href="https://github.com/lina-torovoltas/Random-DumpGen" class="highlight">Link</a> to the repository with the source code.</p>
        </div>

        <div>
            <h3>Repo Backuper</h3>
                
            <p>This program backups repositories through a certain time slot <br />
                from the list and saves them in zip format in the directory</p>
            <p><a href="https://github.com/lina-torovoltas/Repo_Backuper" class="highlight">Link</a> to the repository with documentation and source code.</p>
        </div>