<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Lina Torovoltas</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="shortcut icon" href="static/logo.png" />
    </head>
    
    <body>

        <nav>
            <a href="/" title="Home page.">home</a>
            <a href="/contacts" title="Contact me.">contacts</a>
            <a href="/projects" title="Under construction.">projects</a>
            <a href="/donations" title="Donate cryptocurrency to help me.">donations</a>
        </nav>


        <div>
            <h1>Projects</h1>

            <p>Under construction.</p>
        </div>

        <div>
            <footer>
            Lina Torovoltas (c) | <a href="/licensing" class="highlight">licensing info</a>
            </footer>
        </div>
    
    </body>
</html>