@font-face {
    font-family: 'Julia Mono';
    font-weight: normal;
    font-style: normal;
    src: url("JuliaMono-Regular.ttf");
  }

:root {
    --color-highlight: #d46700;
    --color-background: #0f0f0f;
    --color-text: #e0e0e0;
  }

div {
    padding-left: 1em;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1px;
    background: #181818;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


body {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Julia Mono', monospace;
    background: radial-gradient( rgb(231, 66, 0), rgb(0, 0, 0)) fixed;
    font-size: 1.1rem;
}

img {
    border-radius: 10px;
    float: left;
}

p, li, h1, h3, h4 {
    color: var(--color-text);
    line-height: 25px;
}

.ultra_padding {
    padding-left: 280px;
}

.lina {
    color: #ff5e00;
}

img {
    float: left;
}

footer {
    border-top: 3px solid #333;
    padding-top: 1.5em;
    text-align: center;
    margin: 1em 0;
    color: var(--color-text);
    vertical-align: middle;
}

a {
    color: var(--color-highlight);
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.25s ease, color 0.25s ease;
    border-radius: 3px;
    font-family: 'Julia Mono', monospace;
}

a:hover {
    background-color: var(--color-highlight);
    color: var(--color-background);
}

.centered-paragraph {
    text-align: center;
}
