@font-face {
    font-family: 'Julia Mono';
    font-weight: normal;
    font-style: normal;
    src: url("JuliaMono-Regular.ttf");
  }

:root {
    --color-highlight: #ff6a00;
    --color-background: #181818;
    --color-text: #e0e0e0;
  }

div {
    padding-left: 1em;
    margin-top: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5px;
    background: #181818;
    border-radius: 10px;
    box-shadow: 0 4px 15px #000000;
}


body {
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Julia Mono', monospace;
    background: radial-gradient(#E74200, #000000) fixed;
    font-size: 1.1rem;
}

img {
    border-radius: 10px;
}

p, li, h1, h3, h4, h2 {
    color: var(--color-text);
    line-height: 25px;
}

.ultra_padding {
    padding-left: 280px;
}

.lina {
    color: #ff4f00;
}

footer {
    border-top: 3px solid #333;
    padding-top: 1.5em;
    text-align: center;
    margin: 1em 0;
    color: var(--color-text);
    vertical-align: middle;
}

a {
    color: var(--color-highlight);
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.25s ease, color 0.25s ease;
    border-radius: 3px;
    font-family: 'Julia Mono', monospace;
}

a:hover {
    background-color: var(--color-highlight);
    color: var(--color-background);
}

.centered-paragraph {
    text-align: center;
}


nav {
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5em 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--color-highlight);
    background-color: var(--color-background);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    display: flex;
}

nav a {
    align-self: center;
    flex-grow: 0.2;
    margin: 0 auto;
}

.svg {
    height: 400px;
    background: #111111
}

.left_float {
    float: left;
}

.under_text {
    font-size: 13px;
    text-align: center;
}